// @import '_utilities.scss';

// .modal-container {
//   position: fixed;
//   top:0;
//   right:0;
//   bottom:0;
//   left:0;
//   width:100vw;
//   height:100vh;
//   background-color:rgba(0,64,128,0.4);
//   z-index:99;
//   .modal {
//     background: #fff;
//     width:600px;
//     height:400px;
//     position: absolute;
//     top:50%;
//     left:50%;
//     transform: translate(-50%,-50%);
//     border-radius:6px;
//     .modal-body {
//       @include flexbox;
//       width:100%;
//       height:100%;
//       box-sizing: border-box;
//       position: relative;
//       overflow:hidden;
//     }
//     .modal-image {
//       position: relative;
//       background-color: #E4F3FF;
//       background-image: url('/assets/images/prompts/b144873e3a855a73bd267984d2af18c8.png');
//       background-size: cover;
//       width:40%;
//       height:100%;
//       overflow:hidden;
//     }
//   }
//   .input-label {
//     font-size:14px;
//     padding-top:7px;
//     margin-bottom: 0;
//   }

//   .input-control {
//     outline: none;
//     padding:7px 0;
//     border-radius:0px;
//     border:none;
//     border-bottom:2px solid $primary-color;
//     // border:1px solid rgba(0,64,128,.3);
//   }
// }
