@import "_utilities";

:host {
    margin-left:10px;
}

span {
    padding:0px 12px;
    display:inline-block;
}
span:first-of-type {
    position:relative;
    // display: block;
    &:after {
        content:"";
        display:block;
        width:2px;
        height:100%;
        position: absolute;
        right:-1px;
        top:0;
        transform: skew(-15deg);
        background:$stark;
    }
}

p {
    text-transform: uppercase;
    font-weight:600;
    position:relative;
    // border:2px solid $stark;
    display:block;
}