
// @import '_utilities';

@import '/partials/_modals';

.hidden {
  display:none;
}

.flex {
  @include flexbox;
}

.align-center {
  @include align-items(center);
}

.justify-center {
  @include justify-content(center);
}

html, body {
  font-family: 'Fira Sans', sans-serif, 'Verdana', sans-serif;
  color:$stark;
  background-color: $void;
}

.sidebar {
  width:20%;
  padding-right:20px;
  padding-top:20px;
}

.main-content {
  width:80%;
  // height:200px;
  padding-top:20px;
}

.page-container,.container {
  margin:0 auto;
  // width:1200px;
  // width:1440px;
  height:inherit;
  width:100%;
  // @include respond-to($large-desktop-bp) {
  //   width:$large-desktop;
  // }
  // @include respond-to($medium-laptop-bp) {
  //   width:$medium-laptop;
  // }
  // @include respond-to($tablet-landscape-bp) {
  //   width:$tablet-landscape;
  // }
  // @include respond-to($tablet-portrait-bp) {
  //   width:$tablet-portrait;
  // }
  // @include respond-to($large-desktop-bp) {
  //   width:$large-desktop;
  // }

}

.panel {
  // padding:20px;
  // height:auto;
  background:#fff;
  box-shadow:0px 5px 10px 0px rgba(0,64,128,0.05);
  .panel-title {
    padding:20px 20px 20px 20px;
  }
  .panel-body {
    padding:0px 20px 20px 20px;
  }
}

.prompt {
  background: $stark;
  color:$void;
  font-size:13px;
  line-height:1.4em;
  opacity: 0;
  border:1px solid rgba(0,64,128,0.1);
  position:absolute;
  width:250px;
  transition: all .3s ease-in-out;
  box-shadow:0px 5px 10px 0px rgba(0,64,128,0.05);
  .close {
    position:absolute;
    top:6px;
    right:6px;
    color: $void;
  }
  &:before {
    content:"";
    position: absolute;
    top:-6px;
    right:23px;
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
  }
  .prompt-content {
    padding:20px;
  }
}

.opacity-changer-up {
  opacity:1;
  transition: opacity .3s ease-in-out;
}
// .panel-ad {
//   height:auto;
//   box-shadow:0px 5px 10px 0px rgba(0,64,128,0.05);
//   h3 {
//     // background-color: red;
//     // padding-top:20px;
//     font-weight:600;
//     // padding-bottom:20px;
//     // height:55px;
//     margin-bottom:5px;
//     border-bottom:1px solid rgba(0,64,128,.05);
//   }
// }


.panel-well {
  position:relative;
  padding:20px;
  height:auto;
  background:#fff;
  box-shadow:0px 5px 10px 0px rgba(0,64,128,0.05);
  &:after {
    content:"";
    position: absolute;
    width:100%;
    height:2px;
    bottom:0;
    left:0;
    background: $stark -moz-linear-gradient(45deg, rgba(98,255,143,0.16) 0%, rgba(95,246,144,0.2) 0%, rgba(64,167,152,0.18) 10%, rgba(64,167,152,0.29) 60%, rgba(98,255,143,0.37) 100%);
    background: $stark -webkit-linear-gradient(45deg, rgba(98,255,143,0.16) 0%,rgba(95,246,144,0.2) 0%,rgba(64,167,152,0.18) 10%,rgba(64,167,152,0.29) 60%,rgba(98,255,143,0.37) 100%);
    background: $stark linear-gradient(45deg, rgba(98,255,143,0.16) 0%,rgba(95,246,144,0.2) 0%,rgba(64,167,152,0.18) 10%,rgba(64,167,152,0.29) 60%,rgba(98,255,143,0.37) 100%);
  }
}
a {
  text-decoration: none;
  color:$stark;
}

form {
  label {
    display:block;
    margin-bottom:7px;
    width:100%;
  }
  input {
    display:block;
    margin-bottom:12px;
    width:100%;
    padding:12px 0;
    text-indent:12px;
    border-radius:3px;
    border:1px solid rgba(0,64,128,0.15);
  }
  button {
    margin-top:7px;
    margin-bottom:12px;
    cursor:pointer;
  }
  p,a {
    display:block;
    color:rgba(0,64,128,0.7);
    text-decoration: none;
    font-size:12px;
    margin-bottom:7px;
    width:100%;
  }
}
.book-item-image-container {
  // background:$secondary-color;
}
.book-item-price-container {
    position:relative;
}

// .book-item {
//   &:hover {
//     .wishlist--add {
//       opacity: 1;
//       top:-25px;
//       width:35px;
//       height:35px;
//     }
//   }
//
// }

.wishlist--add {
  position:absolute;
  top:-20px;
  // transform:translateY(-50%);
  right:10px;
  background: #fff;
  border-radius: 100%;
  width:35px;
  height:35px;
  color:$jewel;
  transition:all .1s ease-in-out;
  cursor: pointer;
  box-sizing:border-box;
  box-shadow:0px 5px 10px 0px rgba(0,64,128,0.05);
  i {
    font-size:18px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  &:hover {
    top:-25px;
    // width:35px;
    // height:35px;
  }
}

.badge {
  background: $jewel;
  color:#fff;
  position: absolute;
  font-family:'Fira Sans', sans-serif;
  top:-10px;
  right:-10px;
  font-size:12px;
  padding: 3px 3px;
  border-radius: 50%;
}

//helper classes

.mt-5 {margin-top:5px};
.mt-10 {margin-top:10px};
.mt-15 {margin-top:15px};
.mt-20 {margin-top:20px};
