$phone-bp : '(max-width: 480px)';
$tablet-portrait-bp: '(max-width: 767px)';
$tablet-landscape-bp: '(min-width: 768px) and (max-width: 979px)';
$medium-laptop-bp: '(min-width: 1200px)';
$large-desktop-bp: '(min-width: 1440px)';
$non-retina-bp: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina-bp: '(min--moz-device-pixel-ratio: 1.5),
                    (-o-min-device-pixel-ratio: 3/2),
                    (-webkit-min-device-pixel-ratio: 1.5),
                    (min-device-pixel-ratio: 1.5),
                    (min-resolution: 144dpi),
                    (min-resolution: 1.5dppx)';

$phone: 480px;
$tablet-portrait:768px;
$tablet-landscape:980px;
$medium-laptop:1200px;
$large-desktop:1400px;

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}
