// layout variables

$headerHeight: 80px;


// media queries breakpoints

$screen-lg:1400px; // large, desktops 1600+
$screen-md:1200px; // medium, laptops 1366+
$screen-sm:768px; // small, tablets 768+
$screen-xs:480px; // extra small, mobile 480+


// palette

$primary-color:#40A798;
// $primary-color:#476268;
// $secondary-color:#58E5D1;
$secondary-color:#62FF8F;
// $secondary-color:#40A798;
$filling-color:#F5E1DA;
// $pop-color:#970747;
$pop-color:#C82586;
$bg-color:#F1F1F1;
$text-color:#ffffff;
$dark-text-color:#333333;

// fonts

@import url('https://fonts.googleapis.com/css?family=Lobster|Sacramento|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
